
{% load static %}
{% load i18n %}
{% load account %}
<link href="{% static 'account/css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Login , registration, forgot password "./>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
{% block content %}

    <div class="login-03">
		<div class="three-login  hvr-float-shadow">
			<div class="three-login-head">
					<img src="{% static 'account/images/top-key.png'%}" alt=/>
					<h3>账户密码重置</h3>
					<lable></lable>
			</div>
			<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
				<h5>忘记了账户名或者密码？</h5>
				<p>为了重置你的账户和密码，我们需要你输入注册时所使用的邮箱，随后我们将发送一封邮件来验证</p>
				{{ form.as_p }}
				<div class="submit three">
					<input type="submit"  value="Reset" >
				</div>
			</form>
		</div>
	</div>
{% endblock %}
