<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="49a7564096b04e40ace992c6891e6557" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_49a7564096b04e40ace992c6891e6557 = echarts.init(
            document.getElementById('49a7564096b04e40ace992c6891e6557'), 'white', {renderer: 'canvas'});
        var option_49a7564096b04e40ace992c6891e6557 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "30\u65e5\u80a1\u4ef7\u56fe",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "4-14",
                    42.15
                ],
                [
                    "4-15",
                    41.89
                ],
                [
                    "4-16",
                    42.9
                ],
                [
                    "4-19",
                    42.95
                ],
                [
                    "4-20",
                    44.01
                ],
                [
                    "4-21",
                    46.02
                ],
                [
                    "4-22",
                    43.6
                ],
                [
                    "4-23",
                    40.71
                ],
                [
                    "4-26",
                    40.0
                ],
                [
                    "4-27",
                    38.66
                ],
                [
                    "4-28",
                    38.1
                ],
                [
                    "4-29",
                    36.69
                ],
                [
                    "4-30",
                    38.98
                ],
                [
                    "5-06",
                    39.03
                ],
                [
                    "5-07",
                    41.29
                ],
                [
                    "5-10",
                    40.0
                ],
                [
                    "5-11",
                    39.92
                ],
                [
                    "5-12",
                    38.8
                ],
                [
                    "5-13",
                    39.02
                ],
                [
                    "5-14",
                    40.7
                ],
                [
                    "5-17",
                    41.6
                ],
                [
                    "5-18",
                    40.38
                ],
                [
                    "5-19",
                    41.4
                ],
                [
                    "5-20",
                    42.52
                ],
                [
                    "5-21",
                    43.08
                ],
                [
                    "5-24",
                    43.47
                ],
                [
                    "5-25",
                    38.21
                ],
                [
                    "5-26",
                    38.0
                ],
                [
                    "5-27",
                    36.16
                ],
                [
                    "5-28",
                    37.38
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6590\u6ce2\u90a3\u5951\u9884\u6d4b",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    28,
                    36.16
                ],
                [
                    5,
                    46.02
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "type": "max"
                    },
                    {
                        "type": "min"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "38.2%\u6590\u6ce2\u90a3\u5951\u7ebf",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    0,
                    39.92652
                ],
                [
                    50,
                    39.92652
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "50%\u6590\u6ce2\u90a3\u5951\u7ebf",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    0,
                    41.09
                ],
                [
                    50,
                    41.09
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "61.8%\u6590\u6ce2\u90a3\u5951\u7ebf",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    0,
                    42.25348
                ],
                [
                    50,
                    42.25348
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "30\u65e5\u80a1\u4ef7\u56fe",
                "\u6590\u6ce2\u90a3\u5951\u9884\u6d4b",
                "38.2%\u6590\u6ce2\u90a3\u5951\u7ebf",
                "50%\u6590\u6ce2\u90a3\u5951\u7ebf",
                "61.8%\u6590\u6ce2\u90a3\u5951\u7ebf"
            ],
            "selected": {
                "30\u65e5\u80a1\u4ef7\u56fe": true,
                "\u6590\u6ce2\u90a3\u5951\u9884\u6d4b": true,
                "38.2%\u6590\u6ce2\u90a3\u5951\u7ebf": true,
                "50%\u6590\u6ce2\u90a3\u5951\u7ebf": true,
                "61.8%\u6590\u6ce2\u90a3\u5951\u7ebf": true
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "4-14",
                "4-15",
                "4-16",
                "4-19",
                "4-20",
                "4-21",
                "4-22",
                "4-23",
                "4-26",
                "4-27",
                "4-28",
                "4-29",
                "4-30",
                "5-06",
                "5-07",
                "5-10",
                "5-11",
                "5-12",
                "5-13",
                "5-14",
                "5-17",
                "5-18",
                "5-19",
                "5-20",
                "5-21",
                "5-24",
                "5-25",
                "5-26",
                "5-27",
                "5-28"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ]
};
        chart_49a7564096b04e40ace992c6891e6557.setOption(option_49a7564096b04e40ace992c6891e6557);
    </script>
</body>
</html>
