{% extends "homepage/homepage.html" %}
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
     <style>
        .conditions{
            margin-left:20px;
            text-align: center;
        }
    </style>
    <h3 class='layui-field-title' style="text-align: center">条件表信息</h3>
    <hr>
    <div class="layui-row layui-col-space15" style="margin-left: 30%;padding:20px">
      <div class="layui-col-md6">
        <div class="layui-panel">
          <div style="padding: 30px;">
              <form action="{% url 'stock:change_conditions' %}" method="post" style='padding:20px'>
                {% csrf_token %}
                    <input id="upload_stock" type="hidden" name="stock">
                    <label>
                        <input type="hidden" name="id" value="{{ conditions.id }}">
                        <span style="color:black">参考基准价</span><input  class="conditions" type="text" name="ref_price" value="{{ conditions.ref_price }}" required>
                        <br><br>
                        <span style="color:black">止赢条件</span>>=<input  class="conditions" type="text" name="s_w" value="{{ conditions.s_w }}" required>
                        <br><br>
                        <span style="color:black">止损条件</span><=<input  class="conditions" type="text" name="s_l" value="{{ conditions.s_l }}" required>
                    </label>
                    <hr>
                    <br><br><br>
                    <h4 style="color:black">截止日期</h4>
                    <br>
                    <label>
                        <input type="date" name="date" value="{{ conditions.deadline }}" required>
                    </label>
                    <br>
                    <input class="layui-btn" style='float:right' type="submit" value="修改">
                    </form>
              <br>
              <hr>

              <form action="{% url 'stock:delete_conditions' %}" method="post" style='padding:20px'>
                {% csrf_token %}
                    <input type='hidden' name="id" value="{{ conditions.id }}">
                    <input class="layui-btn" style='float:right' type="button" name="submit" onclick="history.back(-1);" value="取消">
                        <input class="layui-btn"  style='float:right;margin-right: 10px' type="submit" value="删除">
                </form>
          </div>
        </div>
        <div class="layui-panel">
          <div style="padding: 30px;">
              <h4 style="color:black;text-align:center">股票止盈止损条件单填写说明</h4>
              <br><br>
              <ul>
                  <li style="list-style: disc">参考基准价：填写购买股票时的买入价格，填写时默认为股票当前的开盘价格</li>
                  <br>
                  <li style="list-style: disc">止赢止损条件：当股票价格涨或跌到设置的百分比时系统便会通知用户</li>
              </ul>
          </div>
        </div>
      </div>
    </div>




{% endblock %}

</body>
</html>