{% extends "homepage/homepage.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_jquery %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人股票负责投资系统</title>
</head>
<body>
    {% block content %}
         <h3 class='layui-field-title' style="text-align: center">股票信息</h3>
        <table class="layui-hide" id="demo" lay-filter="demo"></table>
        <link rel="stylesheet" href="https://unpkg.com/layui@2.6.6/dist/css/layui.css">
        <script src="https://unpkg.com/layui@2.6.6/dist/layui.js"></script>
        <script>
        layui.use('table', function(){
        var table = layui.table;
        //展示已知数据
        table.render({
        elem: '#demo'
        ,cols: [[ //标题栏
          {field: 'code', title: '股票代码', width: 105, sort: true}
          ,{field: 'name', title: '股票名称', width: 105,sort: true}
          ,{field: 'increase', title: '增幅', width: 80,sort: true}
          ,{field: 'current_price', title: '现价', width: 80,sort: true}
          ,{field: 'ups_and_downs', title: '涨跌', width: 80,sort: true}
          ,{field: 'purchase_price', title: '买价', width: 80,sort: true}
          ,{field: 'sell_price', title: '卖价', width: 80, sort: true}
          ,{field: 'total_volume',title:'总手',width:80,sort: true}
          ,{field: 'total',title:'总金额',width:100,sort: true}
          ,{field: 'current_volume',title:'现手',width:80,sort: true}
          ,{field: 'rate_increase',title:'涨速',width:80,sort: true}
          ,{field: 'entity_increse',title:'实体涨幅',width:110,sort: true}
          ,{field: 'current_differences',title:'现均差',width:90,sort: true}
          ,{field: 'turnover',title:'换手率',width:90,sort: true}
          ,{field: 'committee',title:'委比',width:80,sort: true}
          ,{field: 'total_value',title:'总市值',width:90,sort: true}
          ,{field: 'circulation_value',title:'流通市值',width:100,sort: true}
          ,{field: 'circulation_rate',title:'流通比例',width:100,sort: true}
          ,{field: 's',title:'内盘',width:80,sort: true}
          ,{field: 'b',title:'外盘',width:80,sort: true}
          ,{field: 's_b',title:'内外比',width:80,sort: true}
          ,{field: 'remarks',title:'备注',width:80,sort: true}
          ,{field: 'bad_news',title:'利空',width:80,sort: true}
          ,{field: 'good_news',title:'利好',width:80,sort: true}
          ,{field: 'DDE',title:'主力净量',width:100,sort: true}
          ,{field: 'QRR',title:'量比',width:80,sort: true}
          ,{field: 'TTM',title:'市盈率',width:90,sort: true}
          ,{field: 'NP',title:'净利润',width:90,sort: true}
          ,{field: 'MNR',title:'市净率',width:90,sort: true}
          ,{field: 'PP',title:'每股盈利',width:100,sort: true}
          ,{field: 'de_industry',title:'细分行业',width:100,sort: true}
          ,{field: 'industry',title:'行业',width:80,sort: true}
          ,{field: 'yincome',title:'昨收',width:80,sort: true}
          ,{field: 'opening_quotation',title:'开盘',width:80,sort: true}
          ,{field: 'oir',title:'开盘涨幅',width:100,sort: true}
          ,{field: 'hightest',title:'最高',width:80,sort: true}
          ,{field: 'lowest',title:'最低',width:80,sort: true}
          ,{field: 'fivedays',title:'5日涨幅',width:100,sort: true}
          ,{field: 'tendays',title:'10日涨幅',width:100,sort: true}
          ,{field: 'twentydays',title:'20日涨幅',width:100,sort: true}
          ,{field: 'form_now',title:'年初至今',width:100,sort: true}
          ,{field: 'amplitude',title:'振幅',width:80,sort: true}
          ,{field: 'BQ',title:'买量',width:80,sort: true}
          ,{field: 'SQ',title:'卖量',width:80,sort: true}
          ,{field: 'count',title:'笔数',width:80,sort: true}
          ,{field: 'contribution',title:'贡献度',width:90,sort: true}
          ,{field: 'institutional_trends',title:'机构动向',width:100,sort: true}
          ,{field: 'type',title:'异动类型',width:100,sort: true}
          ,{field: 'general_capital',title:'总股本',width:90,sort: true}
          ,{field: 'circulation_capital',title:'流通股本',width:100,sort: true}
          ,{field: 'total_profit',title:'总利润',width:90,sort: true}
          ,{field: 'profit_rate',title:'利润率',width:90,sort: true}
          ,{field: 'PPS',title:'每股净资产',width:110,sort: true}
          ,{field: 'goleden_cross',title:'金叉个数',width:100,sort: true}
          ,{field: 'number_of_retail_investors',title:'散户数量',width:100,sort: true}
        ]]
        ,page: true
        ,data: {{ rep|safe }}
        ,skin: 'row' //表格风格
        //,page: true //是否显示分页
        ,limits: [10,20,30]
        ,limit: 15 //每页默认显示的数量
        });
        table.on('row(demo)', function(obj){
            var code = obj.data.code;
            var where=code.substring(0,2);
            code=code.substring(2,8)+'.'+where;
            window.location.replace("{% url 'stock:show_detail' %}"+"?code="+code+"&method="+"daily");
          });
        });

        </script>

    {% endblock %}

</body>
</html>