{% extends "homepage/homepage.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_jquery %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人股票负责投资系统</title>
</head>
<body>
    {% block content %}
        <script>
        function tr_click(code) {
           var where=code.substring(0,2)
           code=code.substring(2,8)+'.'+where;
           window.location.replace("{% url 'stock:show_detail' %}"+"?code="+code+"&method="+"daily");
        }
        </script>
    <h3 style="text-align: center">股票信息</h3>
    <table class="table table-bordered table-hover ">
        <tr>
            <th>代码</th>
            <th>名称</th>
            <th>涨幅</th>
            <th>现价</th>
            <th>涨跌</th>
            <th>买价</th>
            <th>卖价</th>
            <th>总手</th>
            <th>总金额</th>
            <th>现手</th>
            <th>涨速</th>
            <th>实体涨幅</th>
            <th>现均差</th>
            <th>换手率</th>
            <th>委比</th>
            <th>总市值</th>
            <th>流通市值</th>
            <th>流通比例</th>
            <th>内盘</th>
            <th>外盘</th>
            <th>内外比</th>
            <th>备注</th>
            <th>利空</th>
            <th>利好</th>
            <th>主力净量</th>
            <th>量比</th>
            <th>市盈率</th>
            <th>净利润</th>
            <th>市净率</th>
            <th>每股盈利</th>
            <th>细分行业</th>
            <th>行业</th>
            <th>昨收</th>
            <th>开盘</th>
            <th>开盘涨幅</th>
            <th>最高</th>
            <th>最低</th>
            <th>5日涨幅</th>
            <th>10日涨幅</th>
            <th>20日涨幅</th>
            <th>年初至今</th>
            <th>振幅</th>
            <th>买量</th>
            <th>卖量</th>
            <th>笔数</th>
            <th>贡献度</th>
            <th>机构动向</th>
            <th>异动类型</th>
            <th>总股本</th>
            <th>流通股本</th>
            <th>总利润</th>
            <th>利润率</th>
            <th>每股净资产</th>
            <th>金叉个数</th>
            <th>散户数量</th>
        </tr>
        {% for foo in stock.data %}
        <tr onclick="tr_click('{{ foo.fields.code }}')">
            <td>{{ foo.fields.code }}</td>
            <td>{{ foo.fields.name }}</td>
            <td>{{ foo.fields.increase }}</td>
            <td>{{ foo.fields.current_price }}</td>
            <td>{{ foo.fields.ups_and_downs }}</td>
            <td>{{ foo.fields.purchase_price }}</td>
            <td>{{ foo.fields.sell_price }}</td>
            <td>{{ foo.fields.total_volume }}</td>
            <td>{{ foo.fields.total }}</td>
            <td>{{ foo.fields.current_volume }}</td>
            <td>{{ foo.fields.rate_increase }}</td>
            <td>{{ foo.fields.entity_increse }}</td>
            <td>{{ foo.fields.current_differences }}</td>
            <td>{{ foo.fields.turnover }}</td>
            <td>{{ foo.fields.committee }}</td>
            <td>{{ foo.fields.total_value }}</td>
            <td>{{ foo.fields.circulation_value }}</td>
            <td>{{ foo.fields.circulation_rate }}</td>
            <td>{{ foo.fields.s }}</td>
            <td>{{ foo.fields.b }}</td>
            <td>{{ foo.fields.s_b }}</td>
            <td>{{ foo.fields.remarks }}</td>
            <td>{{ foo.fields.bad_news }}</td>
            <td>{{ foo.fields.good_news }}</td>
            <td>{{ foo.fields.DDE }}</td>
            <td>{{ foo.fields.QRR }}</td>
            <td>{{ foo.fields.TTM }}</td>
            <td>{{ foo.fields.NP }}</td>
            <td>{{ foo.fields.MNR }}</td>
            <td>{{ foo.fields.PP }}</td>
            <td>{{ foo.fields.de_industry }}</td>
            <td>{{ foo.fields.industry }}</td>
            <td>{{ foo.fields.yincome }}</td>
            <td>{{ foo.fields.opening_quotation }}</td>
            <td>{{ foo.fields.oir }}</td>
            <td>{{ foo.fields.hightest }}</td>
            <td>{{ foo.fields.lowest }}</td>
            <td>{{ foo.fields.fivedays }}</td>
            <td>{{ foo.fields.tendays }}</td>
            <td>{{ foo.fields.twentydays }}</td>
            <td>{{ foo.fields.form_now }}</td>
            <td>{{ foo.fields.amplitude }}</td>
            <td>{{ foo.fields.BQ }}</td>
            <td>{{ foo.fields.SQ }}</td>
            <td>{{ foo.fields.count }}</td>
            <td>{{ foo.fields.contribution }}</td>
            <td>{{ foo.fields.institutional_trends }}</td>
            <td>{{ foo.fields.type }}</td>
            <td>{{ foo.fields.general_capital }}</td>
            <td>{{ foo.fields.circulation_capital }}</td>
            <td>{{ foo.fields.total_profit }}</td>
            <td>{{ foo.fields.profit_rate }}</td>
            <td>{{ foo.fields.PPS }}</td>
            <td>{{ foo.fields.goleden_cross }}</td>
            <td>{{ foo.fields.number_of_retail_investors }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

</body>
</html>