{% extends "homepage/homepage.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
</head>
<body>
{% block content %}
<!--消息块-->
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
        {{ message }}
        {% if not user.email_verified %}
        <a href="{% url 'account_email' %}" style="text-decoration:none">验证邮箱.</a>
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if user.is_authenticated %}
<a href="{% url 'users:change_profile' %}">修改资料</a>
{% endif %}

<p>欢迎, 用户：{{ user.username }}</p>

<ul>
    <li>昵称: {{ user.nick_name }}</li>
    <li>电话: {{ user.mobile }}</li>
    <li>地址: {{ user.address }}</li>
</ul>
{% endblock %}
</body>
</html>